<div class="container-fluid">
    <div class="col-md-6" class="form-group">
        <label for="comment">Share your thoughts !!!</label>
        <textarea class="form-control" rows="5" id="comment" placeholder="Share your thoughts !!!" ></textarea>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-facetime-video"></span> video
          </button>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-picture"></span> photo
          </button>
    </div>

             <div class="col-md-1">
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-file"></span> file
                  </button>
     </div>
      <button (click)="add()" type="button" class="btn btn-primary">Post</button> <br><br>
      <div class="col-md-3">
        <div  *ngFor="let r of range;let i = index">
            <div>
              <p>{{r.el}} => {{r.idx}}</p>
             </div>
             <div><button (click)="remove(i)">Delete Post</button></div>
            </div>
        
     </div>
     
</div>       

